.imageWrapper {
  display: flex;
  max-width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsImage {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .imageWrapper {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .imageWrapper {
    max-width: 100%;
  }
}