.templates {
  background: #fff;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
}

.buttonContainer {
  margin-top: 30px;
}

.searchBar {
  margin-top: 30px;
}

.searchBarInput {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
}
