.templates {
  background: #fff;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.templatesGrid {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  margin: 0 25px 0 25px;
  overflow-x: auto;
}

.templateCard {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  min-width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.templateCard:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.templatesGrid::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.templatesGrid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.templatesGrid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.templatesGrid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.templateImage {
  max-width: 100%;
  max-height: 45%;
  border-radius: 10px;
}

.templateTitle {
  font-size: 1.5rem;
}

.templateDescription {
  font-size: 1rem;
  color: #666;
}

.templatesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowLeft, .arrowRight {
  font-size: 2rem;
  color: #007bff;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

.arrowLeft:hover, .arrowRight:hover {
  color: #0056b3;
}

.arrowLeft {
  margin-right: 10px;
}

.arrowRight {
  margin-left: 10px;
}

.searchBar {
  margin-top: 30px;
}

.searchBarInput {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
}

.buttonContainer {
  margin-top: 30px;
}

.btnPrimary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.btnPrimary:hover {
  background-color: #0056b3;
  cursor: pointer;
}

@media (max-width: 1368px) {
  .arrowLeft, .arrowRight {
    display: none;
  }
}
