.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #007bff;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input, .textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  font-size: 1rem;
}

.textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 100px;
}

.errorContainer {
  height: 1em;
  display: flex;
  justify-content: center;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin: 0;
}  

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}
