.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  height: 100vh;
  min-width: 100%;
}

.heroContent {
  max-width: 50%;
  padding-left: 25px;
}

.heroHeading {
  font-size: 3rem;
  margin-bottom: 20px;
}

.heroPar {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.ctaButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.heroImageContainer {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.heroImage {
  max-width: 100%;
  height: auto;
}

.socialProof {
  margin-top: 20px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .heroContent {
    text-align: center;
    max-width: 75%;
  }

  .ctaButtons {
    justify-content: center;
  }

  .heroImageContainer {
    max-width: 60%;
    margin: 20px 0 50px 0;
  }
}
