.headerNav {
  display: flex;
  align-items: center;
}

.headerNavList {
  display: flex;
  justify-content: space-between;
}

.headerNavItem {
  display: flex;
}

.headerNavButton {
  text-decoration: none;
  color: #333;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.headerNavButton:hover {
  color: #007bff;
  background-color: #e8f0fe;
}

@media screen and (max-width: 768px) {
  .headerNav {
    flex-direction: column;
    align-items: flex-start;
  }
}
